name: ci.yml

on:
  push:
    branches:
      - main
    workflow_dispatch:
    pull_request:
      branches:
        - main
  
  jobs:
    build:
      name: Build and test
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest, windows-latest]
          version: [8.0, 9.0]
      
      steps:
        - name: checkout
          uses: actions/checkout@v2

        - name: install SDK
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: ${{ matrix.version }}

        - name: build
          run: dotnet build