name: ci.yml

on:
  workflow_dispatch:
  
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
  
jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        version: [9.0, 8.0]
      
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: install SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.version }}

      - name: restore nuget
        run: dotnet restore

      - name: build
        run: dotnet build
